# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
ENV/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Output
output/
